import React from "react"
import { Meta, StoryFn } from "@storybook/react"
import { CustomDocsContainer } from "../../../storybook/CustomDocsContainer"
import { StoryWrapper } from "../../../storybook/components/StoryWrapper"
import { {{pascalCase componentName}} } from "../index"

export default {
  title: `Components/{{pascalCase componentName}}`,
  component: {{pascalCase componentName}},
  parameters: {
    docs: {
      container: CustomDocsContainer,
    },
    installation: [
      "npm install @kaizen/{{kebabCase packageName}}",
      "import { {{pascalCase componentName}} } from `@kaizen/{{kebabCase packageName}}`",
    ],
    sourceCodeLink:
      "Add source code link here",
    figmaLink:
      "Add Figma link here",
    alternatives: ["component-1", "component-2"],
  },
} satisfies Meta<typeof {{pascalCase componentName}}>

/**
 * Main Description goes here
 */
export const Primary: StoryFn<typeof {{pascalCase componentName}}> = args => <{{pascalCase componentName}} {...args} />
Primary.storyName = "{{pascalCase componentName}} Playground"
/** @todo:  Uncomment below to show Playground story code initially
Primary.parameters = {
  docs: {
    canvas: {
      sourceState: "shown",
    },
  },
}
*/

/** @todo: Add extra stories to showcase props which don't appear in sticker sheets - Delete the unused example stories below*/

/**
 * Description here
 */
export const Variants: Story = () => (
  <div></div>
)

/**
 * Description here
 */
export const Reversed: Story = () => (
  <div></div>
)
Reversed.parameters = {
  backgrounds: { default: "Purple 700" },
}

/**
 * Description here
 */
export const Disabled: Story = () => (
  <div></div>
)

/**
 * Description here
 */
export const Skeleton: Story = () => (
  <div></div>
)

const StickerSheetTemplate: StoryFn<{ isReversed: boolean }> = ({
  isReversed,
}) => (
  <StoryWrapper isReversed={isReversed}>
    <StoryWrapper.RowHeader headings={["COLUMN 1", "COLUMN 2"]} />
    <StoryWrapper.Row rowTitle="ROW 1">
      <{{pascalCase componentName}} exampleRequiredString="Example" /> {/** @todo: Add column 1 + row 1 props */}
      <{{pascalCase componentName}} exampleRequiredString="Example" /> {/** @todo: Add column 2 + row 1 props */}
    </StoryWrapper.Row>
    <StoryWrapper.Row rowTitle="ROW 2">
      <{{pascalCase componentName}} exampleRequiredString="Example" /> {/** @todo: Add column 1 + row 2 props */}
      <{{pascalCase componentName}} exampleRequiredString="Example" /> {/** @todo: Add column 2 + row 2 props */}
    </StoryWrapper.Row>
  </StoryWrapper>
)

export const StickerSheetDefault = StickerSheetTemplate.bind({})
StickerSheetDefault.storyName = "Sticker Sheet (Default)"
StickerSheetDefault.parameters = {
  chromatic: { disable: false },
  controls: { disable: true },
  docs: { disable: true },
}

export const StickerSheetReversed = StickerSheetTemplate.bind({})
StickerSheetReversed.storyName = "Sticker Sheet (Reversed)"
StickerSheetReversed.args = { isReversed: true }
StickerSheetReversed.parameters = {
  chromatic: { disable: false },
  backgrounds: { default: "Purple 700" },
  controls: { disable: true },
  docs: { disable: true },
}
