import React, { type HTMLAttributes } from 'react'
import classnames from 'classnames'
import styles from './{{pascalCase componentName}}.module.css'

/**
 * @todo: Refer to `docs/` for further code standards and guidelines
 */

/**
 * @todo: Replace `HTMLAttributes<HTMLDivElement>` with attributes/props you need to extend
 */
export type {{pascalCase componentName}}Props = {
  /** This required prop does something */
  exampleRequiredString: string
  /** This optional prop does something @default false **/
  isBooleanProp?: boolean
} & HTMLAttributes<HTMLDivElement>

export const {{pascalCase componentName}} = ({
  exampleRequiredString,
  isBooleanProp = false,
  className,
  ...restProps
}: {{pascalCase componentName}}Props): JSX.Element => {
  return (
    <button
      type="button"
      className={classnames(
        styles.{{camelCase componentName}},
        isBooleanProp && styles.conditionalClass,
        className,
      )}
      {...restProps}
    >
      {exampleRequiredString}
    </button>
  )
}

{{pascalCase componentName}}.displayName = '{{pascalCase componentName}}'
